In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer, WordNetLemmatizer
import string

import warnings
warnings.filterwarnings("ignore", category=UserWarning)

In [2]:
data_resume = pd.read_csv('/Users/harshil/Desktop/Academic2023/BIA660/UpdatedResumeDataSet.csv')

In [3]:
data_resume.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [4]:
data_scraped = pd.read_csv('/Users/harshil/Desktop/Academic2023/BIA660/ScrapedJobs.csv', index_col = 0)

In [5]:
data_scraped.head()

,Title,Company/Location,Description
0,Data Scientist,CommitRemote,SkillsDo you have experience in Web services?Y...
1,Data Analyst / Data Scientist,"DATSURAWashington, DC 20549 (NoMa area)Un Stat...",SkillsDo you have experience in Technical writ...
2,Senior Data Engineer (Machine Learning),Precision Systems4.8Remote,SkillsDo you have experience in Spark?YesNo&nb...
3,Data Scientist (Remote Eligible),Mathematica Policy ResearchRemote in Princeton...,SkillsDo you have experience in Tableau?YesNoE...
4,Data Scientist Positions,"Princeton UniversityPrinceton, NJ 08544",SkillsDo you have experience in Research?YesNo...

In [6]:
print(len(data_resume))
print(len(data_scraped))

962
120

In [7]:
def preprocess_text(text, remove_html=True, remove_punctuation=True, remove_special_chars=True,
                    remove_stopwords=True, stemming=False, lemmatization=False):
    
    # Remove HTML tags
    if remove_html:
        text = BeautifulSoup(text, "html.parser").get_text()
    
    # Convert to lowercase
    text = text.lower()
    
    # Tokenization
    tokens = word_tokenize(text)
    
    # Remove punctuation
    if remove_punctuation:
        tokens = [word for word in tokens if word not in string.punctuation]
    
    # Remove special characters
    if remove_special_chars:
        tokens = [word for word in tokens if word.isalnum()]
    
    # Remove stopwords
    if remove_stopwords:
        stop_words = set(stopwords.words('english'))
        tokens = [word for word in tokens if word not in stop_words]
    
    # Stemming
    if stemming:
        stemmer = PorterStemmer()
        tokens = [stemmer.stem(word) for word in tokens]
    
    # Lemmatization
    if lemmatization:
        lemmatizer = WordNetLemmatizer()
        tokens = [lemmatizer.lemmatize(word) for word in tokens]
    
    # Join tokens back into a string
    processed_text = ' '.join(tokens)
    
    return processed_text

def preprocess_dataframe(df, columns, **kwargs):
    for col in columns:
        df[col] = df[col].apply(lambda x: preprocess_text(x, **kwargs) if pd.notnull(x) else '')
    return df

In [8]:
resume_preprocessed_df = preprocess_dataframe(data_resume, columns=['Resume'], remove_html = True, 
                                              remove_punctuation = True, remove_special_chars = True,
                                              remove_stopwords = True, stemming = False, lemmatization = True)

In [9]:
resume_preprocessed_df.head()

       Category                                             Resume
0  Data Science  skill programming language python panda numpy ...
1  Data Science  education detail may 2013 may 2017 data scient...
2  Data Science  area interest deep learning control system des...
3  Data Science  skill r python sap hana tableau sap hana sql s...
4  Data Science  education detail mca ymcaust faridabad haryana...

In [10]:
print(resume_preprocessed_df['Resume'].values[0])

skill programming language python panda numpy scipy matplotlib sql java machine learning regression svm bayes knn random forest decision tree boosting technique cluster analysis word embedding sentiment analysis natural language processing dimensionality reduction topic modelling lda nmf pca neural net database visualization mysql sqlserver cassandra hbase elasticsearch plotly kibana matplotlib ggplot tableau others regular expression html cs angular 6 logstash kafka python flask git docker computer vision open cv understanding deep detail data science assurance associate data science assurance associate ernst young llp skill detail exprience 24 month exprience 24 month exprience 24 monthscompany detail company ernst young llp description fraud investigation dispute service assurance technology assisted review tar technology assisted review assist accelerating review process run analytics generate report core member team helped developing automated review platform tool scratch assisting e discovery domain tool implement predictive coding topic modelling automating review resulting reduced labor cost time spent lawyer review understand end end flow solution research development classification model predictive analysis mining information present text data worked analyzing output precision monitoring entire tool tar assist predictive coding topic modelling evidence following ey standard developed classifier model order identify red flag issue tool technology python tfidf word2vec doc2vec cosine similarity bayes lda nmf topic modelling vader text blob sentiment analysis matplot lib tableau dashboard reporting multiple data science analytic project usa client text analytics motor vehicle customer review data received customer feedback survey data past one year performed sentiment positive negative neutral time series analysis customer comment across 4 category created heat map term survey category based frequency word extracted positive negative word across survey category plotted word cloud created customized tableau dashboard effective reporting visualization chatbot developed user friendly chatbot one product handle simple question hour operation reservation option chat bot serf entire product related question giving overview tool via qa platform also give recommendation response user question build chain relevant answer intelligence build pipeline question per user requirement asks relevant question tool technology python natural language processing nltk spacy topic modelling sentiment analysis word embedding sqlserver information governance organization make informed decision information store integrated information governance portfolio synthesizes intelligence across unstructured data source facilitates action ensure organization best positioned counter information risk scan data multiple source format parse different file format extract meta data information push result indexing elastic search created customized interactive dashboard using kibana preforming rot analysis data give information data help identify content either redundant outdated trivial preforming search analysis elastic search predefined method tag pii personally identifiable information social security number address name etc frequently targeted tool technology python flask elastic search kibana fraud analytic platform fraud analytics investigative platform review red flag case fap fraud analytics investigative platform inbuilt case manager suite analytics various erp system used client interrogate accounting system identifying anomaly indicator fraud running advanced analytics tool technology html javascript sqlserver jquery cs bootstrap

In [11]:
scraped_preprocessed_df = preprocess_dataframe(data_scraped, columns=['Company/Location', 'Description'], 
                                               remove_html = True, remove_punctuation = True, 
                                               remove_special_chars = True, remove_stopwords = True, 
                                               stemming = False, lemmatization = True)

In [12]:
scraped_preprocessed_df

,Title,Company/Location,Description
0,Data Scientist,commitremote,skillsdo experience web service yesno job deta...
1,Data Analyst / Data Scientist,datsurawashington dc 20549 noma area un statio...,skillsdo experience technical writing yesno jo...
2,Senior Data Engineer (Machine Learning),precision,skillsdo experience spark yesno job detailsher...
3,Data Scientist (Remote Eligible),mathematica policy researchremote princeton nj...,skillsdo experience tableau yesnoeducationdo b...
4,Data Scientist Positions,princeton universityprinceton nj 08544,skillsdo experience research yesnoeducationdo ...
...,...,...,...
115,Help Desk Technician,oak integrated caremount holly nj,skillsdo experience window yesnoeducationdo as...
116,Service Desk Analyst - Level 1,wynne systemremote,skillsdo experience analysis skill yesno job d...
117,Information Technology Manager,harvard club bostonhybrid remote boston 02215,skillsdo experience software troubleshooting y...
118,System Administrator IV,chenhalls va,skillsdo experience visual basic yesno job det...
119,Product Manager - Outdoor/Camping Gear,gr8 outdoorsremote,skillsdo experience project management yesnoed...

In [13]:
print(scraped_preprocessed_df['Company/Location'].values[0])

commitremote

In [14]:
print(scraped_preprocessed_df['Description'].values[0])

skillsdo experience web service yesno job detailshere job detail align yearjob schedule8 hour shift locationremotebenefitspulled full job description401 k dental insurancehealth insurancefull job descriptionresponsibilities collecting large set structured unstructured data various source developing algorithm analyze data apply machine learning technique cleaning validating data ensure accuracy completeness uniformity devising utilizing algorithm model mine big data store perform data error analysis improve model clean validate data uniformity accuracy analyzing data identify pattern trend interpreting data discover solution opportunity communicating finding stakeholder using visualization mean qualification advanced degree computer science statistic mathematics related field proficiency data mining mathematics statistical analysis advanced pattern recognition predictive modeling experience experience sql programming language python java familiarity machine learning framework like kera tensorflow library like excellent analytical ability great communication skill job type salary per year benefit 401 k dental insurance health insurance experience level 2 year 3 year schedule 8 hour shift work location remote